nav a{
    text-align: center;
    text-decoration: none;
    background-color: palevioletred;
    width: 100px;
    display: inline-block;
    margin-right: 2%;

}
.interests{
    background-color: burlywood;
}