div{
    background-color: #0000cc;
    color: #fff;
    box-sizing: border-box;
    width: 45%;
    display: inline-block;
    margin: 5px;
    height: 200px;
    border: 20px solid #000000;
    padding: 15px;
    margin: 0 auto;
    margin-top: 50px;


}
h2{
    text-align: center;
}