main{
    width: 95%;
    margin: 0 auto;
}

body{
    margin: 5%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 145%;
}

@media screen and (min-width:778px) {
    .content{
        width: 30%;
        display: inline-block;
        margin-left: 1%;
    }
}